<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>474817837380-nb028skmgpt5d2hp4f50eb6kr4ur96ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474817837380-nb028skmgpt5d2hp4f50eb6kr4ur96ek</string>
	<key>API_KEY</key>
	<string>AIzaSyCvO-1V_3YdBe7zmWVmfXEFE7sJnI1LBLI</string>
	<key>GCM_SENDER_ID</key>
	<string>474817837380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c.n.c.MonitorGastos</string>
	<key>PROJECT_ID</key>
	<string>rxmonitor-566e5</string>
	<key>STORAGE_BUCKET</key>
	<string>rxmonitor-566e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474817837380:ios:f313d43349d4c706</string>
	<key>DATABASE_URL</key>
	<string>https://rxmonitor-566e5.firebaseio.com</string>
</dict>
</plist>